
body {
	padding: 0px;
	margin: auto;
}

/*
#venues-container {
	float: left;
	width: 500px;
}

#venues {
	list-style: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-left: 0;
	margin-top: 0;
}

#venues li {
	padding: 30px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
}

#venues li:hover {
	background: #F7F5F5;
}


#map-container {
	float: left;
	width: 800px;
	height: 800px;
	background: #EDE8E8;
}*/
.container {
	margin: 10px;
}
nav {
	position: fixed !important;
	top: 0;
	width: 100%;
	/*margin-top: 15px;*/
	/*margin-bottom: 10px;*/
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
	z-index: 100;
}

.btn-default {
	background-color: blue;
 }
.thumbnail {
	width: 200px;
	height: 300px;
	text-align: center;
	background-color: lightblue !important;
	float: left;
}
/*#navigation {
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;*/
/* Adds shadow to the bottom of the bar */
/*-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;*/
/* Adds the transparent background */
/*background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}
#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
color: grey;
}*/
